<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title class="mat-card-title-rms">Sparkline type: Bar chartType</mat-card-title>
        <mat-card-subtitle>Chart type: Dual</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            <rms-spark-barchart [spark_color] = "app_color" ></rms-spark-barchart>
        </p>
        <h4>Highlights</h4>
        <markdown ngPreserveWhitespaces>
            Move mouse alongside lines to see their values
        </markdown>
    </mat-card-content>
    <mat-card-actions>
        <h4>Source References</h4>
        <div>
            <a mat-button href="{{branchUrlLib}}" target="_blank">Component</a>
            <a mat-button href="{{branchUrlLsg}}" target="_blank">Usage</a>
        </div>
    </mat-card-actions>
</mat-card>
