<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title class="mat-card-title-rms">Sparkline type: Line</mat-card-title>
        <mat-card-subtitle>Chart type: Simple</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            <rms-spark-line [lineColor] = "lineColor" ></rms-spark-line>
        </p>
        <h4>Highlights</h4>
        <markdown ngPreserveWhitespaces>
            `rms-sparkline-linePoints`. Move mouse alongside lines to see their values
        </markdown>
    </mat-card-content>
    <mat-card-actions>
        <a mat-raised-button href="https://github.com/RodrigoMattosoSilveira/rms-sparklines/tree/issue-44-ng7/projects/library/src/lib/spark-line" target="_blank">Source & README</a>
    </mat-card-actions>
</mat-card>
